/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 900;
  src: local("Work Sans Black"), local("WorkSans-Black"), url(../fonts/google/worksans/Hjn0acvjHfjY_vAK9Uc6ghampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: local("Great Vibes"), local("GreatVibes-Regular"), url(../fonts/google/greatvibes/6q1c0ofG6NKsEhAc2eh-3aE8kM4xWR1_1bYURRojRGc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: local("Great Vibes"), local("GreatVibes-Regular"), url(../fonts/google/greatvibes/6q1c0ofG6NKsEhAc2eh-3Ygp9Q8gbYrhqGlRav_IXfk.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(../fonts/google/lato/rZPI2gHXi8zxUjnybc2ZQFKPGs1ZzpMvnHX-7fPOuAc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(../fonts/google/lato/MgNNr5y1C_tIEuLEmicLmwLUuEpTyoUstqEm5AMlJo4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"), url(../fonts/google/lato/t85RP2zhSdDjt5PhsT_SnlKPGs1ZzpMvnHX-7fPOuAc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"), url(../fonts/google/lato/lEjOv129Q3iN1tuqWOeRBgLUuEpTyoUstqEm5AMlJo4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot");
  src: url("../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff") format("woff"), url("../bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local("Raleway ExtraLight"), local("Raleway-ExtraLight"), url(../fonts/google/raleway/8KhZd3VQBtXTAznvKjw-kwzyDMXhdD8sAj6OAJTFsBI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local("Raleway Light"), local("Raleway-Light"), url(../fonts/google/raleway/-_Ctzj9b56b8RgXW8FAriQzyDMXhdD8sAj6OAJTFsBI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), url(../fonts/google/raleway/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url(../fonts/google/ptsans/oysROHFTu1eTZ74Hcf8V-VKPGs1ZzpMvnHX-7fPOuAc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url(../fonts/google/ptsans/CWlc_g68BGYDSGdpJvpktgLUuEpTyoUstqEm5AMlJo4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* line 1, ../sass/_colors.scss */
.navbar-default {
  background: #e5e5e5;
}

/* line 5, ../sass/_colors.scss */
.main-container {
  background: #f5f5f5;
}

/* line 9, ../sass/_colors.scss */
footer {
  background: #0D799D;
}

/* line 13, ../sass/_colors.scss */
.blue {
  color: #444;
}

/* line 17, ../sass/_colors.scss */
.magazine {
  color: #06ABB4;
}

/* line 21, ../sass/_colors.scss */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #eee;
  background-color: #0D799D;
}

/* line 1, ../sass/_typography.scss */
body {
  font-family: Raleway, sans-serif;
}

/* line 5, ../sass/_typography.scss */
h1.page-header {
  font-family: "Lato", sans-serif;
  margin-bottom: 0;
}

/* line 10, ../sass/_typography.scss */
h2.block-title {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;
  padding-bottom: 20px;
}

/* line 18, ../sass/_typography.scss */
ul.menu {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
}

/* line 23, ../sass/_typography.scss */
.magazine {
  color: #06ABB4;
}

/* line 27, ../sass/_typography.scss */
.scs-site-name {
  margin-top: 30px;
  margin-left: 10px;
  text-align: center;
}
/* line 32, ../sass/_typography.scss */
.scs-site-name a.name.navbar-brand {
  display: none;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  float: none;
  color: #444;
  font-weight: 900;
  font-size: 38px;
  line-height: 50%;
}

/* line 46, ../sass/_typography.scss */
.scs-site-slogan {
  margin-left: 10px;
  text-align: center;
}
/* line 50, ../sass/_typography.scss */
.scs-site-slogan p.lead {
  margin: 0;
  padding: 2px 0;
  font-weight: bold;
  color: #555;
  font-size: 16px;
}

/* line 1, ../sass/_structure.scss */
body {
  background: #e5e5e5;
}

/* line 5, ../sass/_structure.scss */
#top-header {
  min-height: 20px;
}

/* line 9, ../sass/_structure.scss */
.main-container {
  padding-top: 15px;
  padding-bottom: 60px;
}

/* line 14, ../sass/_structure.scss */
.leaderboard {
  padding: 5px 0;
}
/* line 16, ../sass/_structure.scss */
.leaderboard .container {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 23, ../sass/_structure.scss */
.leaderboard #leaderboard {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 728px;
}

/* line 33, ../sass/_structure.scss */
.block .views-row {
  margin-bottom: 30px;
}

/* line 38, ../sass/_structure.scss */
#block-views-frontpage-views-top-featured {
  margin-top: 40px;
}
/* line 41, ../sass/_structure.scss */
#block-views-frontpage-views-top-featured .views-field-title {
  font-weight: 900;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  padding: 10px 0;
}
/* line 26, ../sass/_variables.scss */
#block-views-frontpage-views-top-featured .views-field-title a {
  color: #000;
  text-decoration: none;
}
/* line 30, ../sass/_variables.scss */
#block-views-frontpage-views-top-featured .views-field-title a:hover {
  color: #0D799D;
}

/* line 46, ../sass/_structure.scss */
#block-views-recent-posts-recent-posts,
#block-views-frontpage-views-top-news,
#block-views-frontpage-views-top-news-two {
  padding: 20px;
  background: #fff;
  margin-bottom: 30px;
}
/* line 55, ../sass/_variables.scss */
#block-views-recent-posts-recent-posts .views-field-title,
#block-views-frontpage-views-top-news .views-field-title,
#block-views-frontpage-views-top-news-two .views-field-title {
  font-weight: 900;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  padding: 10px 0;
}
/* line 26, ../sass/_variables.scss */
#block-views-recent-posts-recent-posts .views-field-title a,
#block-views-frontpage-views-top-news .views-field-title a,
#block-views-frontpage-views-top-news-two .views-field-title a {
  color: #000;
  text-decoration: none;
}
/* line 30, ../sass/_variables.scss */
#block-views-recent-posts-recent-posts .views-field-title a:hover,
#block-views-frontpage-views-top-news .views-field-title a:hover,
#block-views-frontpage-views-top-news-two .views-field-title a:hover {
  color: #0D799D;
}

/* line 57, ../sass/_structure.scss */
#block-views-frontpage-views-top-news .views-field-body,
#block-views-frontpage-views-top-news-two .views-field-body,
#block-views-frontpage-views-top-featured .views-field-body,
#block-views-frontpage-views-features .views-field-body {
  margin-top: 4px;
  font-size: 13px;
  line-height: 160%;
}

/* line 64, ../sass/_structure.scss */
#block-views-frontpage-views-blogger .views-row {
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
/* line 68, ../sass/_structure.scss */
#block-views-frontpage-views-blogger .views-row .views-field-title {
  font-weight: 900;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  padding: 10px 0;
  margin: 0;
  padding: 0;
}
/* line 26, ../sass/_variables.scss */
#block-views-frontpage-views-blogger .views-row .views-field-title a {
  color: #000;
  text-decoration: none;
}
/* line 30, ../sass/_variables.scss */
#block-views-frontpage-views-blogger .views-row .views-field-title a:hover {
  color: #0D799D;
}
/* line 73, ../sass/_structure.scss */
#block-views-frontpage-views-blogger .views-row .views-field-body {
  margin-top: 4px;
  font-size: 13px;
  line-height: 160%;
}

/* line 80, ../sass/_structure.scss */
#block-views-recent-posts-recent-posts {
  margin-bottom: 30px;
}
/* line 82, ../sass/_structure.scss */
#block-views-recent-posts-recent-posts .views-field-title {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
/* line 88, ../sass/_structure.scss */
#block-views-recent-posts-recent-posts .views-field-created {
  margin: 0;
  padding: 0;
  font-style: italic;
  font-size: .8em;
  color: #aaa;
}

/* line 93, ../sass/_structure.scss */
#block-views-frontpage-views-features {
  padding: 10px;
  background: #0D799D;
  color: rgba(255, 255, 255, 0.6);
}
/* line 98, ../sass/_structure.scss */
#block-views-frontpage-views-features .views-field-title {
  font-weight: 900;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  padding: 10px 0;
}
/* line 26, ../sass/_variables.scss */
#block-views-frontpage-views-features .views-field-title a {
  color: #fff;
  text-decoration: none;
}
/* line 30, ../sass/_variables.scss */
#block-views-frontpage-views-features .views-field-title a:hover {
  color: #000;
}
/* line 102, ../sass/_structure.scss */
#block-views-frontpage-views-features .views-field-changed,
#block-views-frontpage-views-features .views-field-body {
  margin: 10px 0;
}

/* line 3, ../sass/_node.scss */
.page-node .submitted {
  margin: 0;
  padding: 0;
  font-style: italic;
  font-size: .8em;
  color: #aaa;
}
/* line 9, ../sass/_node.scss */
.page-node .content a {
  font-weight: bold;
}
/* line 13, ../sass/_node.scss */
.page-node .content .field-type-taxonomy-term-reference {
  margin: 10px 0;
}
/* line 63, ../sass/_variables.scss */
.page-node .content .field-type-taxonomy-term-reference a {
  padding: 5px 20px;
  background: #0D799D;
  text-align: center;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
}
/* line 71, ../sass/_variables.scss */
.page-node .content .field-type-taxonomy-term-reference a:hover {
  background: #444;
}
/* line 18, ../sass/_node.scss */
.page-node .content .field-name-field-subheading .field-item {
  margin: 20px 0;
  font-size: 2em;
  color: #777;
}
/* line 25, ../sass/_node.scss */
.page-node .content .field-name-field-photo-credits {
  margin: 0 0 30px 0;
  padding: 5px;
  background: #222;
  color: #fff;
}
/* line 33, ../sass/_node.scss */
.page-node ul.node-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 3, ../sass/_taxonomy_term.scss */
.page-taxonomy-term h1.page-header {
  color: #0D799D;
  font-family: "PT Sans", sans-serif;
  font-size: 26px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 3px solid #0D799D;
  text-transform: uppercase;
}
/* line 15, ../sass/_taxonomy_term.scss */
.page-taxonomy-term .view-scs-taxonomy-term .views-row {
  background: #fff;
  margin-bottom: 20px;
}
@media (max-width: 981px) {
  /* line 20, ../sass/_taxonomy_term.scss */
  .page-taxonomy-term .view-scs-taxonomy-term .views-row .text-wrapper {
    padding: 20px;
  }
}
/* line 26, ../sass/_taxonomy_term.scss */
.page-taxonomy-term .view-scs-taxonomy-term .views-field-description {
  background: #f5f5f5;
  margin-bottom: 20px;
  padding: 20px;
  border-left: 1px solid #0D799D;
  font-style: italic;
}
/* line 34, ../sass/_taxonomy_term.scss */
.page-taxonomy-term .view-scs-taxonomy-term .views-field-title {
  font-weight: 900;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  padding: 10px 0;
}
/* line 26, ../sass/_variables.scss */
.page-taxonomy-term .view-scs-taxonomy-term .views-field-title a {
  color: "#444";
  text-decoration: none;
}
/* line 30, ../sass/_variables.scss */
.page-taxonomy-term .view-scs-taxonomy-term .views-field-title a:hover {
  color: #0D799D;
}
/* line 38, ../sass/_taxonomy_term.scss */
.page-taxonomy-term .view-scs-taxonomy-term .views-field-created {
  margin: 0;
  padding: 0;
  font-style: italic;
  font-size: .8em;
  color: #aaa;
}
/* line 42, ../sass/_taxonomy_term.scss */
.page-taxonomy-term .view-scs-taxonomy-term .views-field-field-subheading {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #777;
  font-size: 13px;
}
/* line 46, ../sass/_taxonomy_term.scss */
.page-taxonomy-term .view-scs-taxonomy-term .views-field-body {
  margin-top: 4px;
  font-size: 13px;
  line-height: 160%;
}
/* line 52, ../sass/_taxonomy_term.scss */
.page-taxonomy-term .view-display-id-latest .text-wrapper {
  padding: 20px;
}
/* line 55, ../sass/_taxonomy_term.scss */
.page-taxonomy-term .view-display-id-latest .text-wrapper .views-field-title {
  font-weight: 900;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  padding: 10px 0;
  font-size: 24px;
}
/* line 26, ../sass/_variables.scss */
.page-taxonomy-term .view-display-id-latest .text-wrapper .views-field-title a {
  color: "#444";
  text-decoration: none;
}
/* line 30, ../sass/_variables.scss */
.page-taxonomy-term .view-display-id-latest .text-wrapper .views-field-title a:hover {
  color: #0D799D;
}
/* line 60, ../sass/_taxonomy_term.scss */
.page-taxonomy-term .view-display-id-latest .text-wrapper .views-field-field-subheading {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #777;
  font-size: 13px;
  font-size: 24px;
}
/* line 67, ../sass/_taxonomy_term.scss */
.page-taxonomy-term .node-article {
  padding: 20px;
  background: #eee;
}
/* line 72, ../sass/_taxonomy_term.scss */
.page-taxonomy-term .node-article .submitted {
  margin: 0;
  padding: 0;
  font-style: italic;
  font-size: .8em;
  color: #aaa;
}
/* line 77, ../sass/_taxonomy_term.scss */
.page-taxonomy-term .node-article h2 a {
  text-decoration: none;
  color: #222;
}
/* line 80, ../sass/_taxonomy_term.scss */
.page-taxonomy-term .node-article h2 a:hover {
  text-decoration: none;
}

/* line 3, ../sass/_carousel.scss */
#frontpage-slideshow .carousel-inner {
  position: relative;
}
/* line 6, ../sass/_carousel.scss */
#frontpage-slideshow .carousel-inner .views-field-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  padding: 5px 20px;
}
/* line 14, ../sass/_carousel.scss */
#frontpage-slideshow .carousel-inner .views-field-title a {
  color: #fff;
  text-decoration: none;
}

/* line 1, ../sass/_menus.scss */
#navbar {
  background: #f5f5f5;
  border-bottom: 1px solid #fff;
  border-radius: 0;
}

/* line 7, ../sass/_menus.scss */
.navbar {
  position: relative;
  margin-bottom: 0;
  border: 0 solid transparent;
}

/* line 13, ../sass/_menus.scss */
ul.menu.nav.navbar-nav {
  margin: 0;
  padding: 0;
}
/* line 17, ../sass/_menus.scss */
ul.menu.nav.navbar-nav li {
  text-transform: uppercase;
}

/* line 23, ../sass/_menus.scss */
ul.menu.nav.navbar-nav.secondary li {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 10px;
  margin: 10px 5px;
}
/* line 28, ../sass/_menus.scss */
ul.menu.nav.navbar-nav.secondary li a {
  display: block;
  background: #fff;
  color: #000;
  padding: 5px 10px;
}

/* line 38, ../sass/_menus.scss */
footer ul.menu.nav {
  margin: 10px 0;
}
/* line 42, ../sass/_menus.scss */
footer ul.menu.nav li {
  margin-right: 8px;
  display: inline-block;
  background: transparent;
  text-transform: uppercase;
  font-size: 12px;
}
/* line 49, ../sass/_menus.scss */
footer ul.menu.nav li a {
  display: block;
  margin: 0;
  padding: 0;
  color: #fff;
  background: transparent;
}
/* line 55, ../sass/_menus.scss */
footer ul.menu.nav li a:hover {
  background: transparent;
}
