.panels-flexible-region {
  padding: 0;
}

.panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-column {
  padding: 0;
}

.panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-news-item-page-main {
  float: left;
  width: 99.0000%;
}

.news-item-page-inside {
  padding-right: 0px;
}

.news-item-page {
  width: auto;
}

.panels-flexible-column-news-item-page-2 {
  float: left;
  width: 76.3098%;
}

.panels-flexible-column-news-item-page-3 {
  float: left;
  width: 22.6902%;
}

.panels-flexible-row-news-item-page-1-inside {
  padding-right: 0px;
}

.panels-flexible-region-news-item-page-main_ {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-news-item-page-4-inside {
  padding-right: 0px;
}

.panels-flexible-region-news-item-page-side_right {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-news-item-page-5-inside {
  padding-right: 0px;
}

.panels-flexible-region-news-item-page-side_right_ {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-news-item-page-6-inside {
  padding-right: 0px;
}

