.page-taxonomy-term {

	h1.page-header {
		color: $color1;
		font-family: $titleFont;
		font-size: 26px;
		margin-bottom: 20px;
		padding-bottom: 10px;
		border-bottom: 3px solid $color1;
		text-transform: uppercase;
	}

	.view-taxonomy-term {

		.views-row {
			background: #fff;
			margin-bottom: 20px;

			@media(max-width: 981px){
				.text-wrapper	{
					padding: 20px;
				}
			}
		}

		.views-field-description {
			background: $containerBackground;
			margin-bottom: 20px;
			padding: 20px;
			border-left: 1px solid $color1;
			font-style: italic;
		}

		.views-field-title {
			@include standardTitle('#444' , $color1 );
		}

		.views-field-created {
			@include submitted;
		}

		.views-field-field-subheading {
			@include standardSubheading;
		}

		.views-field-body {
			@include standardSummary;
		}


	}

	.node-article {
		
		padding: 20px;
		background: #eee;

		.submitted {
			@include submitted;
		}

		h2  {
			a {
				text-decoration: none;
				color: #222;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}

}