body {
	font-family: $mainFont;
}

h1.page-header {
	font-family: $boldTitleFont;
	margin-bottom: 0;
}

h2.block-title {
	font-family: $boldTitleFont;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 900;
	padding-bottom: 20px
}

ul.menu {
	font-family: $titleFont;
	font-weight: normal;
}

a.name.navbar-brand {
	color: #fff;
	text-transform : uppercase;
	text-align: center;
	font-weight: normal;
	font-size: 28px;
	padding: 1.5em;
	line-height: 140%;
}