body {
	font-family: $mainFont;
}

h1.page-header {
	font-family: $boldTitleFont;
	margin-bottom: 0;
}

h2.block-title {
	font-family: $boldTitleFont;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 900;
	padding-bottom: 20px
}

ul.menu {
	font-family: $titleFont;
	font-weight: normal;
}

.blue {
	color: $color1;
}

.scs-site-name{
	margin-top: 30px;
	margin-left: 10px;

	a.name.navbar-brand {
		display: none;
		font-family: 'Work Sans', sans-serif;
		text-transform: uppercase;
		margin: 0;
		padding: 0;
		float: none;
		color: #444;
		font-weight: 900;
		font-size: 32px;
		line-height: 50%;
	}
}

.scs-site-slogan {
	margin-top: 5px;
	margin-left: 10px;
	p.lead {
		margin: 0;
		padding: 5px 0;
		color: #777;
		font-size: 16px;
	}
}