body {
	font-family: $mainFont;
}

h1.page-header {
	font-family: $boldTitleFont;
	margin-bottom: 0;
}

h2.block-title {
	font-family: $boldTitleFont;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 900;
	padding-bottom: 20px
}

ul.menu {
	font-family: $titleFont;
	font-weight: normal;
}

.scs-site-name{
	margin-top: 10px;
	margin-left: 10px;

	a.name.navbar-brand {
		font-family: 'Great Vibes', Helvetica, sans-serif;
  		text-shadow: 2px 1px 1px rgba(0,0,0,0.1); 
		margin: 0;
		padding: 0;
		float: none;
		color: #444;
		// text-transform : uppercase;
		font-weight: normal;
		font-size: 48px;
		line-height: 100%;
	}
}

.scs-site-slogan {
	margin-top: 5px;
	margin-left: 10px;
	p.lead {
		margin: 0;
		padding: 5px 0;
		color: #777;
		font-size: 12px;
	}
}